/target/
/.settings/
/.classpath
/.project
/boundary-layer/.settings/
/boundary-layer/target/
/boundary-layer/.classpath
/boundary-layer/.project
/data-layer/.settings/
/data-layer/target/
/data-layer/.classpath
/data-layer/.project
/model-layer/.settings/
/model-layer/target/
/model-layer/.classpath
/model-layer/.project
/view-layer/.settings/
/view-layer/target/
/view-layer/.classpath
/view-layer/.project
